<tr>
        <td><%= course.name %></td>
        <td><%= course.description %></td>
        <td><%= course.price %></td>
        <td><%= course.user.name %></td>
        <td><%= link_to 'Show', course %></td>
        <td>
  <% if can? :update, course %>
    <%= link_to 'Edit', edit_course_path(course) %>
  <% end %>
</td>

<td>
  <% if can? :destroy, course %>
    <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</td>


      </tr>
